.bottom_bar_color
{
-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #0B1E3E, #4E154C);
}
.body_background
{
-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #ebc934, #050000);
}

.body_background01
 {
     -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #f3db28, #df2929);
 }
.body_background02
{
    -fx-background-color: linear-gradient(from 0% 25% to 0% 100%, #efcd44, #ecc918);
}

.vBox_background
{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #851414, #050000);
}
.transparent
{
-fx-background-color: rgba(0,0,0,0);
}
.search-background
{
-fx-background-color: #787A8F;
-fx-background-radius: 50;
}


.my-fill-text
{
    -fx-text-fill: #050000;
    -fx-font-size: 18px;
    -fx-font-family: "Algerian"
}

.my-fill-text-Vbox
{
    -fx-text-fill: #f3db28;
    -fx-font-size: 18px;
    -fx-font-family: "Algerian"
}

.my-button-style:hover {
    -fx-background-color: #b65353;

}
.my-button-style:pressed {
    -fx-background-color: #9d2525;

}

.my-button-style-yellow:hover {
    -fx-background-color: #e8d074;

}
.my-button-style-yellow:pressed {
    -fx-background-color: #b0a007;

}
.my-button-style-yellow {
    -fx-background-color: #f3db28;

}

.table-row-cell:odd{

    -fx-background-color: #ea8787;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:even {

    -fx-background-color: #f36969;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:selected {
    -fx-text-fill: white;
    -fx-background-color: #4d4d4d;
}


.text-style {
    -fx-font-family: "Passion One";
}

.event_background
{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #ed3232, #4d0707);
}

.login_background
{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #ff0000, #7a0808);
}

.standardTicket_background
{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #e715f6, #2f70da);
}

.root {
    -fx-background-color: #F8F8F8;
}

.event-pane {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #ed3232, #4d0707);
    -fx-border-color: #DDDDDD;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10, 0, 0, 2);
}

.event-pane-custmoizeble {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #328ced, #1fe1ca);
    -fx-border-color: #DDDDDD;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10, 0, 0, 2);
}

.event-pane-special {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #e732ed, #1fe1ca);
    -fx-border-color: #DDDDDD;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10, 0, 0, 2);
}

.event-pane-extra {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #f61515, #2eea07);
    -fx-border-color: #DDDDDD;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10, 0, 0, 2);
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #f3db28;
    -fx-background-radius: 5em;
}
.scroll-pane > .corner {
    -fx-background-color:  DF2929;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

/*.scroll-pane {
    -fx-background-color: #02030A;
}*/

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}



